body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
}

h1 {
    font-size: 60px;
    text-shadow: 5px 5px rgb(177, 166, 179);
}

.container {
    height: 960px;
    width: 960px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16,2fr);
    margin: 0;
    padding: 0;
}

.grid-item {
    background-color: white;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.change-color {
    background-color: black;
}

.options {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    height: 50px;
    margin-bottom: 50px;
}

button {
    width: 120px;
    font-size: 30px;
    background-color: white;
    box-shadow: 5px 5px;
    outline: none;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1.2);
}

.color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color-input {
    width: 80px;
    height: 30px;
}

#color-input:hover {
    transform: scale(1.1);
}

#color-input:active {
    transform: scale(1.2);
}

p {
    margin: 0;
    font-size: 20px;
}