body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
}

.container {
    height: 960px;
    width: 960px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16,2fr);
    margin: 0;
    padding: 0; 
}

.grid-item {
    background-color: white;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.change-color {
    background-color: black;
}

button {
    margin-bottom: 10px;
}